:root{
    --background-color: hsl(30, 38%, 92%);
    --card-color: hsl(0, 0%, 100%);
    --text-color: hsl(228, 12%, 48%);
    --product-name-color: hsl(212, 21%, 14%);
    --brand-color: hsl(158, 36%, 37%);
}